<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button {
            margin-top: 10px;
            display:block;
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div >
        <button class="button"><a href="{% url 'forward' %}">Forward</a></button>
        <button class="button"><a href="{% url 'back' %}">Back</a></button>
        <button class="button"><a href="{% url 'left' %}">Left</a></button>
        <button class="button"><a href="{% url 'right' %}">Right</a></button>
        <button class="button"><a href="{% url 'stop' %}">Stop</a></button>
    </div>


</body>
</html>